{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-vue",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-attributes"
  ],
  "attributeGroups": ["$CODE_GUIDE"],
  "overrides": []
}
