.sidebar {
  &_header {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -12px;
      width: 2.5px;
      height: 95%;
      background-color: #555;
      transform: translateY(-50%);
    }
  }
}

.list-hover-effect {
  position: relative;
  display: inline-block;
  width: fit-content;

  &::after {
    position: absolute;
    bottom: 0;
    left: -4px;
    width: calc(100% + 8px);
    height: 0;
    background-color: var(--color-default-blue);
    opacity: 0.2;
    transition: all 0.3s ease;
    content: '';
    transform-origin: bottom center;
  }

  &:hover {
    &::after {
      height: 100%;
    }
  }
}

// global styles
.el-dialog .el-dialog__header {
  position: relative;
  padding-bottom: 0;
}

.video-resize-dialog .el-dialog {
  width: 65%;

  @media (width < 64rem) {
    width: 75%;
  }

  @media (width < 48rem) {
    width: 90%;
  }
}
